@model List<int>

@if (Model != null)
{
    for (int i = 0; i < Model.Count; i++)
    {
        <div class="col p-0">
            @if (Model[i] == 1)
            {
                    <i class="bi bi-circle-fill"></i>
            }
            else if (Model[i] == -1)
            {
                <i class="bi bi-circle"></i>

            }
            else
            {
                    <i class="bi bi-circle"></i>

            }
        </div>
    }
}