@model IEnumerable<HabitTracker.ViewModels.HabitViewModel   >

@if (Model != null && Model.Any())
{
    <h2>Your Habits</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Frequency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var habit in Model)
            {
                <tr>
                    <td><input class="habit-checker" data-id="@habit.Id" type="checkbox" /></td>
                    <td title="@habit.HabitDescription">@habit.HabitTitle</td>
                    <td>@habit.HabitFrequency</td>
                    <td class="container float-end">
                        <div class="row">
                           @if (habit.LogDisplayIndicators != null)
                            {
                                for (int i = 0; i < habit.LogDisplayIndicators.Count; i++)
                                {
                                    <div class="col">
                                        @if (habit.LogDisplayIndicators[i] == 1)
                                        {
                                             <div class="col p-0"><i class="bi bi-circle-fill"></i></div>
                                        }
                                        else if (habit.LogDisplayIndicators[i] == -1)
                                        {
                                            <div class="col p-0"><i class="bi bi-circle"></i></div>

                                        }
                                        else
                                        {
                                             <div class="col p-0"><i class="bi bi-circle"></i></div>

                                        }
                                    </div>
                                }
                            }
                        </div>

                    </td>
                </tr>
            }   
        </tbody>
    </table>
}