@model IEnumerable<HabitTracker.Models.Habit>
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null && Model.Any())
{
    <h2>Your Habits</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Frequency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var habit in Model)
            {
                <tr>
                    <td><input type="checkbox" /></td>
                    <td title="@habit.HabitDescription">@habit.HabitTitle</td>
                    <td>@habit.HabitFrequency</td>
                    <td class="container float-end">
                        <div class="row">
                            <div class="col p-0"><i class="bi bi-circle"></i></div>
                            <div class="col p-0"><i class="bi bi-circle"></i></div>
                            <div class="col p-0"><i class="bi bi-circle"></i></div>
                            <div class="col p-0"><i class="bi bi-circle"></i></div>
                            <div class="col p-0"><i class="bi bi-circle"></i></div>
                            <div class="col p-0"><i class="bi bi-circle"></i></div>
                            <div class="col p-0"><i class="bi bi-circle"></i></div>
                        </div>

                    </td>
                </tr>
            }   
        </tbody>
    </table>
}